streamlit
crewai
typing-extensions
langchain
pydantic
google-generativeai
flask 
flask-cors
uuid
python-dotenv
pyPDF2

# script to run this model on streamlit
# .\.venv\Scripts\Activate
# streamlit run ./yourfile.py


# scripts to run this model on local server
# .\.venv/Scripts/activate
# pip install -r requirements.txt
# python app.py

# python3.11 -m venv venv